/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 400px;
    margin: 100px auto;
    background: linear-gradient(to right, #fe4f4f, #0c0c0c);
    padding: 70px;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}

/* Link */
a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Table Styling */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #4facfe;
    color: rgb(24, 24, 24);
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f1f1;
}

/* Responsive */
@media (max-width: 500px) {
    .container {
        width: 90%;
    }

    table {
        width: 95%;
    }
}